*{
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
  }
body{
    font-family: "Roboto", sans-serif;
}
.header{
    background-color: #FCEEF1;
}
.main-header{
    width: 85%;
    margin: 0 auto;
    display: flex;
}
.logo{
    width: 50%;
    margin-left: 20px;
    margin-top: 5px;
}
nav{
    width: 50%;
}
.main-header .logo img{
    width: 40px;
    height: 40px;
}
.navbar{
    text-align: right;
}
.navbar ul{
    display: flex;
    justify-content: center;
}
.navbar ul li {
    list-style-type: none;
    padding: 10px 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: #E55473;
    font-size: 22px;
    font-weight: bold;
    transition: 0.5s;
}
.navbar ul li:hover a{
    color: #272727;
}
/* hero sectio style  */
.hero-main{
    padding-top: 50px;
    background-color: #FCEEF1;
    height: 600px;
}
.hero{
    width: 85%;
    margin: 0 auto;
    display: flex;

}
.about{
    width: 50%;
    padding: 50px;
    margin-top: 50px;
}
.about p{
    font-size: 18px;
    color: #7C7778;
    line-height: 150%;
    margin-bottom: 30px;
}
button{
    color: #fff;
    background-color: #E55473;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0 0 5px #ef97e8;
}
button:hover{
    color: #000;
    background-color: #d73054;
    cursor: pointer;
    box-shadow: 0 0 10px #ef97e8, 0 0 20px #ef97e8, 0 0 20px #cf3838 inset;
}
.about h1{
    font-size: 50px;
    margin-bottom: 30px;
    color: #272727;
}

.img-box img{
    padding-left: 50px;
    height: 75%;
}

/* feature section style  */
.feature{
    width: 85%;
    margin: 0 auto;
    padding-top: 80px;
    text-align: center;
}
.content-feature{
    width: 50%;
    margin: 0 auto;
}
.feature h2{
    padding-bottom: 20px;
    color: #272727;
    font-weight: bold;
}
.feature p{
    color: #7C7778;
}
.card-feature{
    padding-top: 60px;
    padding-bottom: 60px;
}
.card-1{
    width: 30%;
    height: 400px;
    text-align: center;
    margin-right: 5%;
    background-color: #F2DEE7;
    padding: 30px 30px 0 30px;
    border-radius: 150px 150px 0 0;
}
.card-1 img{
    height: 100%;
    width: 300px;
}

.card-2{
    width: 30%;
    height: 400px;
    text-align: center;
    margin-right: 5%;
    background-color: #D9EFF1;
    padding: 30px 30px 0 30px;
    border-radius: 150px 150px 0 0;
}
.card-2 img{
    width: 300px;
    margin-top: 30px;
}
.card-3{
    width: 30%;
    height: 400px;
    text-align: center;
    margin-right: 5%;
    background-color: #E3EBDB;
    padding: 30px 30px 0 30px;
    border-radius: 150px 150px 0 0;
}
.card-3 img{
    width: 300px;
    height: 100%;
}
.card-feature{
    width: 85%;
    display: flex;
    justify-content:center;
    text-align: center;
    margin: 0 auto;
}

/* support sectio style  */
.suport-main{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #F4F4F4;
    margin-bottom: 80px;
}
.support-1{
    width: 30%;
    text-align: center;
}
.support-1 p{
    padding-top: 5px;
    font-size: 16px;
    color: #7C7778;
}

/* discount section style  */
.discount{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FEF6F8;
    margin-bottom: 80px;
}
.main-discount{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
}
.discount-content{
    width: 50%;
}
.discount-content p{
    line-height: 150%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.discount-content span{
    color: #d73054;
}
.discount-products{
    width: 50%;
}
/* gallary style start  */
.gallary{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}
.gallary p{
    line-height: 150%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.card-galary{
    display: flex;
}
.gallary-1{
    width: 25%;
    margin: 10px;
}
.gallary-1 img{
    width: 100%;
}
.gallary-2{
    width: 25%;
    margin: 10px;
}
.gallary-2 img{
    width: 100%;
}
.gallary-3{
    width: 25%;
    margin: 10px;
}
.gallary-3 img{
    width: 100%;
}
.gallary-4{
    width: 25%;
    margin: 10px;
}
.gallary-4 img{
    width: 100%;
}
/* newslatter section style  */
.newslatter{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: url("/images/Rectangle\ 9.png");
    margin-bottom: 80px;
}
.newslatter h2{
    color: #272727;
    font-size: 32px;
}
.newslatter p{
    color: #7C7778;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.newslatter input{
    width: 50%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
}
/* footer section style  */
footer{
    background-color: #111010;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.main-footer{
    width: 50%;
    margin: 0 auto;
}
.main-footer h3{
    color: #fff;
    font-size: 32px;
}
.main-footer p{
    color: #E7E7E7;
    line-height: 180%;
}
.main-footer .copy-rights{
    color: #707070;
}
.main-footer h3 span{
    color: #d73054;
}
