*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Roboto", sans-serif;
}
.header{
    background-color: #FCEEF1;
}
.main-header{
    width: 85%;
    margin: 0 auto;
}
.navbar ul{
    display: flex;
    justify-content: center;
}
.navbar ul li {
    list-style-type: none;
    padding: 10px 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: #E55473;
    font-size: 22px;
    font-weight: bold;
    transition: 0.5s;
}
.navbar ul li:hover a{
    color: #272727;
}
/* hero sectio style  */
.hero-main{
    padding-top: 50px;
    background-color: #FCEEF1;
    height: 600px;
}
.hero{
    width: 85%;
    margin: 0 auto;
    display: flex;

}
.about{
    width: 50%;
    padding: 50px;
    margin-top: 50px;
}
.about p{
    font-size: 18px;
    color: #7C7778;
    line-height: 150%;
    margin-bottom: 30px;
}
button{
    color: #fff;
    background-color: #E55473;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0 0 5px #ef97e8;
}
button:hover{
    color: #000;
    background-color: #d73054;
    cursor: pointer;
    box-shadow: 0 0 10px #ef97e8, 0 0 20px #ef97e8, 0 0 20px #cf3838 inset;
}
.about h1{
    font-size: 50px;
    margin-bottom: 30px;
    color: #272727;
}

.img-box img{
    padding-left: 50px;
    height: 75%;
}

/* feature section style  */
.feature{
    width: 85%;
    margin: 0 auto;
    padding-top: 80px;
    text-align: center;
}
.content-feature{
    width: 50%;
    margin: 0 auto;
}
.feature h2{
    padding-bottom: 20px;
    color: #272727;
    font-weight: bold;
}
.feature p{
    color: #7C7778;
}
.card-feature{
    padding-top: 60px;
    padding-bottom: 60px;
}
.card-1{
    width: 30%;
    height: 400px;
    text-align: center;
    margin-right: 5%;
    background-color: #F2DEE7;
    padding: 30px 30px 0 30px;
    border-radius: 150px 150px 0 0;
}
.card-1 img{
    height: 100%;
    width: 300px;
}

.card-2{
    width: 30%;
    height: 400px;
    text-align: center;
    margin-right: 5%;
    background-color: #D9EFF1;
    padding: 30px 30px 0 30px;
    border-radius: 150px 150px 0 0;
}
.card-2 img{
    width: 300px;
    margin-top: 30px;
}
.card-3{
    width: 30%;
    height: 400px;
    text-align: center;
    margin-right: 5%;
    background-color: #E3EBDB;
    padding: 30px 30px 0 30px;
    border-radius: 150px 150px 0 0;
}
.card-3 img{
    width: 300px;
    height: 100%;
}
.card-feature{
    width: 85%;
    display: flex;
    justify-content:center;
    text-align: center;
    margin: 0 auto;
}

/* support sectio style  */
.suport-main{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #F4F4F4;
}
.support-1{
    width: 30%;
    text-align: center;
}
.support-1 p{
    padding-top: 5px;
    font-size: 16px;
    color: #7C7778;
}